.add-option-error {
  color: $off-white;
  font-style: italic;
  padding: 0 $m-size;
  margin: $m-size 0 0 0;
}

.add-option {
  display: flex;
  padding: $m-size;
}
.add-option__input {
  background: $blue-background;
  border-bottom: 0.3rem solid darken($blue-background, 10%);
  flex-grow: 1;
}
